{{link-to 'Register' 'register'}}

<div class='login'>
  {{input type='text' name='email' value=email placeholder='email'}}
  {{input type='password' name='password' value=password placeholder='Password'}}
  <button type='button' name='login' {{action 'login'}}>Login</button>
</div>

{{outlet}}
